.admin-modal-pos-control{
    padding: 100px 0px 0px 280px;
}

.movie-info-modal-control{
    margin-top: 70px;
    width: 98%;
}

.service-pack-modal-control{
    margin-top: 70px;
    margin-left: 15%;
    width: 70%;

}
.modal-header a.close-icon{
    margin-left: auto;
    margin-right: 20px;
}
.right-align {
    display: flex;
    justify-content: flex-end;
}

.btn-container{
    margin-bottom: 10px;
}

.Movie-info-body-size{
    min-height: 400px;
    max-height: 450px;
}

.dot{
    height: 50px;
    width: 50px;
    background-color: rgb(136, 136, 136);
    border-radius: 50%;
    display: inline-block;
    border-color: aquamarine;
    color: chartreuse;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    padding: 8px 0px;
    }

.img-ranking{
    width: 125px;
    height: 80px;
    background-color: darkgray;
}

.num-ranking-control{
    height: 100px;
    padding: 15px 0px 0px 55px;
}

td img{
    width: 80px;
    height: 100px;
    margin: 4px;
}

